body {
  background-color: black;
}

div {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

h1 {
  text-align: center;
  color: blue;
}

canvas {
  background-color: black;
  width: 800px;
  height: 600px;
} 
